<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <img data-qa="image-media-img" alt="Nike. Just Do It" class="_32IPZERI _3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_1903,c_limit/7624145f-3017-45c4-9eef-f3ed2cf6a373/nike-just-do-it.jpg" data-landscape-url="https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/7624145f-3017-45c4-9eef-f3ed2cf6a373/nike-just-do-it.jpg" data-portrait-url="https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/b92927fb-c36c-4765-a095-3827809bd3c5/nike-just-do-it.jpg" data-image-loaded-class="guL_1FMX"></div>
<div>
</div>

<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="bg-white overflow-hidden">
            <img data-qa="image-media-img" alt="Nike. Just Do It" class="_32IPZERI _3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_472,c_limit/4d5bf59e-9bd5-4ff7-b331-3bb2ce006ca4/nike-just-do-it.png" data-landscape-url="https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/4d5bf59e-9bd5-4ff7-b331-3bb2ce006ca4/nike-just-do-it.png" data-portrait-url="https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/cb3d90e8-a118-420f-81de-ec1d2cdb645d/image.png" data-image-loaded-class="guL_1FMX">            <div class="p-4">
                <h2 class="text-lg font-semibold">Nike United Pack</h2>
            </div>
        </div>
        <div class="bg-white overflow-hidden">
            <img data-qa="image-media-img" alt="Nike. Just Do It" class="_32IPZERI _3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_472,c_limit/3f95cf73-9d5a-4da2-b1f3-3452f47e126c/nike-just-do-it.png" data-landscape-url="https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/3f95cf73-9d5a-4da2-b1f3-3452f47e126c/nike-just-do-it.png" data-portrait-url="https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/312d6c92-7cdb-447b-ad7a-7548c4e5acb2/image.png" data-image-loaded-class="guL_1FMX">            <div class="p-4">
                <h2 class="text-lg font-semibold">Coleccion Nike 24.7</h2>
            </div>
        </div>
        <div class="bg-white overflow-hidden">
            <img data-qa="image-media-img" alt="Nike. Just Do It" class="_32IPZERI _3jm9Bm_E guL_1FMX" src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/h_472,c_limit/616e2724-542b-47c5-8ea4-eee41e460f1d/nike-just-do-it.jpg" data-landscape-url="https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/616e2724-542b-47c5-8ea4-eee41e460f1d/nike-just-do-it.jpg" data-portrait-url="https://static.nike.com/a/images/f_auto,cs_srgb/w_1536,c_limit/9d4bda21-0019-47d9-b57b-f6f3a811c6fd/image.jpg" data-image-loaded-class="guL_1FMX">            <div class="p-4">
                <h2 class="text-lg font-semibold">Nike Style By: Field General</h2>
            </div>
        </div>
    </div>
</div>